<div class="center jumbotron">
	<h1>Homeplan Bouwreizen</h1>
<<<<<<< HEAD
	<p>Begin met bouwen!</p>
	<%= link_to "Play now", signup_path, class: "btn btn-lg btn-primary" %>
=======
	<h2>Bouw mee aan een betere toekomst.</h2>
	<p>Puzzel zo snel mogelijk het huisje in elkaar en kom erachter hoe je de wereld kunt verbeteren.</p>
	<%= link_to "Start", signup_path, class: "btn btn-lg btn-default pull-right" %>
>>>>>>> 9b1715d45238a2773ffb918d29b7b793080777d1
</div>
