@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
	box-sizing: border-box;
}

// Typography

html {
	font-size: 1em;
}

body {
  font-size: 1.25em;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.45em;
}

h1 {
  font-size: 2.35em;
  line-height: 1.234042554em;
  margin-top: 1.23404255em;
  margin-bottom: 0.61702128em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.611111112em;
  margin-top: 1.61111111em;
  margin-bottom: 0.80555556em;
}

h3 {
  font-size: 1.35em;
  line-height: 1.074074074em;
  margin-top: 1.07407407em;
  margin-bottom: 1.07407407em;
}

h4 {
  font-size: 1em;
  line-height: 1.45em;
  margin-top: 1.45em;
  margin-bottom: 1.45em;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 1.45em;
  margin-bottom: 1.45em;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

// Custom styling on Bootstrap elements

.jumbotron {
	background-color: #fff;
	border-radius: 0;
	h1 {
		margin-top: 0;
	}
	p {
		margin-bottom: 1.45em;
	}
}

// Header

#logo {
	float: left;
	margin-right: .5em;
	font-size: 1.66em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: .75em;
	font-weight: bold;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.nav-play-button {
	a {
		color: white;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
}

// Sidebar

aside {
	section.user_info {
		margin-top: 1em;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 0.25em;
			line-height: 1;
		}
	}
}

// Footer

footer {
	margin-top: 3em;
	padding-top: .5em;
	border-top: 1px solid #eaeaea;
	color: #777;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 2.5em;
	@include box_sizing;
}

// Forms

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 1.5em 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.name-selection {
	padding: 1.5em 0;
	p {
		margin-bottom: 2em;
	}
	&:focus, &:active {
		outline: 0;
	}
	span.cyclic_input {
		float: left;
		color: #ccc;
	    padding: 0 0.25em;
	    font-size: 8em;
	    line-height: 1.45em;
	    position: relative;
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	    margin-bottom: 0.375em;
		&:focus, &:active {
			outline: none;
			color: #333;
		}
		&:before, &:after {
			font-family: 'Ionicons';
			display: block;
		    position: absolute;
		    left: 50%;
		    font-size: 0.250em;
		    line-height: 1em;
		    transform: translateX(-50%);
		}
		&:before {
			content: '\f10c';
		    top: -.5em;
		}
		&:after {
			content: '\f103';
			bottom: -.75em;
		}
		&.active {
			color: #333;
		}
	}
	
}

.game {
	outline: 0;
	img {
		width: 50%;
		height: auto;
	}
}
